<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">代码发布</li>
                    <li class="{{ config.left_list }}"><a href="/task/list/1/">任务列表</a></li>
                    <li class="{{ config.left_create }}"><a href="/task/create/">创建任务</a></li>
                </ul>
                <ul class="nav nav-list">
                    <li class="nav-header">项目管理</li>
                    <li class="{{ config.left_project_list }}"><a href="/project/list/">项目列表</a></li>
                    <li class=""><a href="">创建项目</a></li>
                </ul>
                <ul class="nav nav-list">
                    <li class="nav-header">系统管理</li>
                    <li class="{{ config.left_user_list }}"><a href="/user/list/">用户管理</a></li>
                    <li class="{{ config.left_group_list }}"><a href="/user/group/">组管理</a></li>
                    <li class="{{ config.left_workflow_config }}"><a href="/workflow/config/">工作流管理</a></li>
                </ul>

            </div>



        </div>